.rentalState {
    background-color: #FC8183;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    border-radius: 30px;
    text-align: center;
}