.container{
    padding-top: 100px;
}

.profileInfo {
    background-color: #e1fae6;
    position: relative;
}

.profileInfo h3 {
    font-size: 18px;
    font-weight: 800;
    margin-top: 30px;
    letter-spacing: -0.05em;
}
.profileInfo h5,
.profileEdit p{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    letter-spacing: -0.02em;
}
.profileEdit p{
    color: white;
    font-weight: 600;
}

.profileEdit {
    margin-top: 10px;
    background-color: #80b88f;
}

.profileIcon {
    position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 60px;
        background-color: #80b88f;
        border-radius: 50%; 
}

.rentalInfo {
    background-color: var(--card-background-gray);
    margin-top: 10px;
    margin-bottom: 30px;
    flex: 1
}

.rentalInfo h3{
    width: 100%;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 18px;
}
.textBox {
    display: flex;
}
.rentalInfoBox h5 {
    letter-spacing: -0.02em;
    margin: 3px;
    color: var(--sub-text-gray)
}
.date {
    text-align: start;
}
.item {
    flex: 1;
    text-align: center;
}
.rentalDate {
    text-align: end;
}

hr {
    border: 0.5px solid #ccc;
}