.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.centerContainer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.centerContainer ion-icon {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: var(--main-green);
}

.card {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
}

.circle {
    border-radius: 50%;
}

.signupLabel {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: var(--sub-text-gray);
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
}

.fixWidth {
    width: calc(100% - 2.5rem);
    max-width: calc(800px - 2rem);
}

.selectCardContainer {
    margin-bottom: 10px;
    border: 1px solid #F1F1F1;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.selectCardContainer:hover,
.selectCardContainer:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.selectCardContainer:not(.selected) {
    background-color: white;
}

.selectCardContainer.selected {
    background-color: #dceafd;
}