.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.centerContainer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.centerContainer ion-icon {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: var(--main-green);
}

.card {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
}

.circle {
    border-radius: 50%;
}

.signupLabel {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: var(--sub-text-gray);
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
}

.fixWidth {
    width: calc(100% - 2.5rem);
    max-width: calc(800px - 2rem);
}