.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 120px;
    margin-bottom: 90px;
}

.buttonBox {
    width: 100%;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
}