.rentalStateCard {
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
}
.rentalStateCard:hover,
.rentalStateCard:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.rentalStateCard:not(.selected) {
    background-color: white;
}

.rentalStateCard.selected {
    background-color: #dceafd;
}

.headBox {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.headBox span {
    font-size: 18px;
    font-weight: 600;
}

.rentalState {
    background-color: #FC8183;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    border-radius: 30px;
}

.bodyBox {
    display: flex;
    align-items: center;
}

.itemIcon {
    background-color: #d9d9d9;
    width: 80px;
    height: 80px;
}

.textBox {
    flex-direction: column;
    flex: 1;
}

.itemName,
.rentalStatus,
.description {
    font-size: 14px;
    font-weight: 600;
    margin: 4px;
}

.rentalStatus {
    color:#FF0000;
}

.description {
    font-weight: 400;
    color: var(--sub-text-gray)
}