.mainCard {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.mainCard:hover,
.mainCard:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.cardImage {
    width: 45px;
    height: 45px;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 30px;
    overflow: hidden; 
    cursor: pointer;
}
.cardImage ion-icon {
    font-size: 40px;
    cursor: pointer;
}

.iconOverlay ion-icon {
    position: absolute;
    bottom: -15px;;
    right: -15px;
    width: 120px;
    height: 120px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-5deg);
    cursor: pointer;
}

.title,
.description {
    position: relative;
    text-align: start;
    z-index: 3;
    letter-spacing: -0.05em;
    cursor: pointer;
}
.title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}
.description {
    margin-top: 0;
    font-size: 14px;
}

