.container{
    padding-top: 60px;
}

.studentCouncilInfoBox {
    width: 100%;
    text-align: start;
    padding-left: 10px;
}

.name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.address {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
    color: var(--sub-text-gray);
}

.buttonBox {
    width: 100%;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
}