.infoText {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    letter-spacing: -0.1em;
}

.infoTextGray {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #c0c0c0;
}

.mainButton {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

